/*
<link rel="stylesheet" type="text/css" href="style1.css">

#05386B - #379683 - #5CDB95 - #8EE4AF - #EDF5E1

*/


td {
    text-align: center;
}

table {
    border-width: 1px;
}

div.hugeblock { /* CLASS_SELECTOR border-width: 1 px;*/
    border-style: dotted;
    border-radius: 15px;
    width: 60%;
    margin: 15px auto;
}

tr:nth-child(odd) { /*SELECTOR_PSEUDO_ELEMENT*/
    background-color: #05386B;
}

tr:nth-child(even) { /*SELECTOR_PSEUDO_ELEMENT*/
    background-color: #379683;
}
